* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 500px;
  width: 500px;
  border: 2px solid black;
  margin: auto;
  margin-top: 10px;
}

.box {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  margin: auto;
  margin-top: 100px;
  background-color: cadetblue;
  transition: all 2s ease-in-out;
  text-align: center;
}

.box:hover {
  /* transform: scale(1.5); */
  /* transform: scaleX(1.5); */
  /* transform: scaleY(1.5); */

  /* transform: rotate(360deg); */
  /* transform: rotateX(45deg); */
  /* transform: rotateY(30deg); */
  /* border-radius: 50%; */

  /* transform: skew(30deg); */
  /* transform: skewX(45deg); */
  /* transform: skewY(45deg); */

  /* transform: translate(100px); */
  /* transform: translateX(500px); */
  /* transform: translateY(300px); */
}
