* {
  /* background-color: slategray; */
}

.button {
  background-color: slateblue;
  border-radius: 30px;
  height: 50px;
  width: 150px;
  font-size: larger;
  color: rgb(176, 224, 64);
  border: none;
}
